# target
CONFIG_TARGET_x86=n
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_EFI_IMAGES=n
CONFIG_KERNEL_BUILD_USER="NG6"
# openssl
CONFIG_OPENSSL_WITH_CAMELLIA=y
CONFIG_OPENSSL_WITH_COMPRESSION=y
CONFIG_OPENSSL_WITH_DTLS=y
CONFIG_OPENSSL_WITH_EC2M=y
CONFIG_OPENSSL_WITH_GOST=y
CONFIG_OPENSSL_WITH_IDEA=y
CONFIG_OPENSSL_WITH_MDC2=y
CONFIG_OPENSSL_WITH_RFC3779=y
CONFIG_OPENSSL_WITH_SEED=y
CONFIG_OPENSSL_WITH_WHIRLPOOL=y
# base software
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_conntrack=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_glib2=y
CONFIG_PACKAGE_grub2-efi=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libnetfilter-conntrack=y
CONFIG_PACKAGE_libnfnetlink=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-v2ray-server=y
CONFIG_PACKAGE_luci-app-webadmin=y
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-v2ray-server-zh-cn=y
CONFIG_PACKAGE_luci-i18n-webadmin-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_qemu-ga=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_uclibcxx=y
# software
# deprecated samba
CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_samba36-server=n
CONFIG_PACKAGE_luci-app-samba=n
CONFIG_PACKAGE_luci-app-autosamba=n
CONFIG_PACKAGE_luci-app-samba4=n
CONFIG_PACKAGE_luci-app-cifsd=n
CONFIG_PACKAGE_luci-app-samba36-server=n
# deprecated other software
CONFIG_PACKAGE_luci-app-music-remote-center=n
CONFIG_PACKAGE_luci-app-qbittorrent=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-amule=n
CONFIG_PACKAGE_luci-app-frpc=n
CONFIG_PACKAGE_luci-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-shairplay=n
CONFIG_PACKAGE_luci-app-airplay2=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
# deprecated vpn
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-app-openvpn=n
CONFIG_PACKAGE_luci-app-openvpn-server=n
# deprecated kmod
# usb
CONFIG_PACKAGE_automount=n
CONFIG_PACKAGE_kmod-usb-audio=n
CONFIG_PACKAGE_kmod-usb-core=n
CONFIG_PACKAGE_kmod-usb-hid=n
CONFIG_PACKAGE_kmod-usb-net=n
CONFIG_PACKAGE_kmod-usb-net-asix=n
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=n
CONFIG_PACKAGE_kmod-usb-net-rtl8150=n
CONFIG_PACKAGE_kmod-usb-net-rtl8152=n
CONFIG_PACKAGE_kmod-usb-storage=n
CONFIG_PACKAGE_kmod-usb-storage-extras=n
CONFIG_PACKAGE_kmod-usb-storage-uas=n
# sound
CONFIG_PACKAGE_kmod-sound-core=n
CONFIG_PACKAGE_kmod-sound-hda-codec-realtek=n
CONFIG_PACKAGE_kmod-sound-hda-codec-via=n
CONFIG_PACKAGE_kmod-sound-hda-core=n
CONFIG_PACKAGE_kmod-sound-hda-intel=n
CONFIG_PACKAGE_kmod-sound-i8x0=n
CONFIG_PACKAGE_kmod-sound-mpu401=n
CONFIG_PACKAGE_kmod-sound-via82xx=n
# software
CONFIG_PACKAGE_vim=y
CONFIG_PACKAGE_virtio-console-helper=y
CONFIG_TARGET_IMAGES_GZIP=n
CONFIG_TARGET_ROOTFS_PARTSIZE=300
# v2ray
CONFIG_PACKAGE_v2ray=y
CONFIG_V2RAY_COMPRESS_UPX=n
CONFIG_V2RAY_DISABLE_NONE=y
CONFIG_V2RAY_EXCLUDE_ASSETS=y
CONFIG_V2RAY_EXCLUDE_V2CTL=y
CONFIG_V2RAY_JSON_INTERNAL=y
# openclash
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_iptables=y
CONFIG_PACKAGE_jsonfilter=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
